.place__image {
  max-width: 440px;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 100%;
  }
}