.intro__list {
  font-family: "Inter", "Arial";
  max-width: 690px;
  margin: 0 0 92px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin: 0 0 88px;
  }
}


@media screen and (max-width: 320px) {
  .intro__list {
    margin: 0 0 64px;
  }
}
