.cover__subtitle {
  position: relative;
  top: 245px;
  max-width: 360px;
  bottom: 05px;
  margin: 0 auto;
  font-family: "Inter", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    top: 115px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    top: 33px;
  }
}
