.place__paragraphs {
  margin: 0;
  width: calc(100% - 500px);
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    width: calc(100% - 472px);
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    width: calc(100% - 368px);
  }
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .place__paragraphs {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    max-width: 288px;
    margin: 0 auto;
  }
}
