.place__paragraphs {
  margin: 0;
  width: calc(100% - 500px);
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    width: calc(100% - 472px);
  }
}

@media screen and (max-width:768px) {
  .place__paragraphs {
    width: calc(100% - 368px);
  }
}

@media screen and (max-width:560px) {
  .place__paragraphs {
    width: calc(100% - 268px);
  }
}

@media screen and (max-width:425px) {
  .place__paragraphs {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width:320px) {
  .place__paragraphs {
    max-width: 288px;
  }
}