.footer__copyright {
  margin: 0;
  align-self: baseline;
  font-family: "Inter", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    align-self: flex-end;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-bottom: 0px;
  }
}

