.intro__text {
  font-family: "Inter", "Arial";
  max-width: 690px;
  margin: 0 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
}
