.cover__background {
  position: relative;
  min-height: 640px;
  background: url(../../../images/cover-trains.jpg) center/cover no-repeat;
  /* background-position: center; */
}

@media screen and (max-width:425px) {
  .cover__background {
    min-height: 200px;
  }
}