.cover__title {
  position: relative;
  margin: 0 auto 32px;
  padding-top: 245px;
  font-family: "Inter", "Arial";
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 64px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 270px;
    margin: 0 auto 16px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
