.place {
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.place:last-child {
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 auto 73px;
  }
}

@media screen and (max-width: 650px) {
  .place {
    margin: 0 auto 50px;
  }

  .place:last-child {
    margin: 0 auto 66px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: block;
  }
}
