.place {
  margin: 0 auto 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.place:last-child {
  margin: 0 auto 92px;
}

@media screen and (max-width: 425px) {
  .place {
  display: block;
}
}